body {
  background: #232830;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Lato', sans-serif;
  font-size: 18px; }

a, a:visited, a:hover, a:focus {
  color: #fff; }

.social {
  /*float: left;*/
  margin: 0 2em;
  width: 100px;
  height: 100px;
  display: inline-block;
  text-align: center;
  line-height: 103px;
  color: #fff;
  position: relative;
  transform: rotateY(0deg);
  transition: transform .25s ease-out;
  transform-style: preserve-3d; }

.social > div {
  width: 100px;
  height: 100px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.social > .front {
  transform: translateZ(40px); }

.social > .back {
  background: #3B5998;
  font-size: 3em;
  transform: rotateY(-100deg) translateZ(40px); }

.social.social-skype > .back {
  background: #12A5F4; }

.social.social-linkedin > .back {
  background: #4875B4; }

.social.social-envelope > .back {
  background: #E24E42; }

.social:hover {
  transform: rotateY(100deg); }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #1C2027;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: 70px; }
  .navbar a {
    color: white; }
  .navbar .container-fluid, .navbar .navbar-header {
    min-height: 70px; }
  .navbar .navbar-brand {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 80px;
    font-size: 60px; }
    .navbar .navbar-brand span {
      color: #cf4646 !important;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2); }
  .navbar .navbar-collapse {
    border-color: #232830;
    height: 215px; }
  .navbar button {
    border-color: #1C2027 !important;
    background-color: #232830 !important; }
  .navbar .navbar-toggle {
    padding: 20px; }

#menu a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px; }

#menu a:after {
  content: '';
  display: block;
  position: relative;
  top: 10px;
  margin: auto;
  height: 4px;
  width: 0px;
  background: transparent;
  transition: width .3s ease, background-color .3s ease; }

#menu a:hover:after {
  width: 100%;
  background: #cf4646; }

.active {
  display: inline-block;
  position: relative;
  padding-bottom: 3px; }
  .active:after {
    content: '';
    display: block;
    position: relative;
    top: 10px;
    margin: auto;
    height: 4px;
    background: #cf4646 !important;
    width: 100% !important;
    transition: width .3s ease, background-color .3s ease; }

.navbar-nav {
  height: 70px !important; }
  .navbar-nav li a {
    color: rgba(255, 255, 255, 0.9) !important; }

.transforme-up {
  padding-top: 20px;
  font-size: 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; }

.transforme-down {
  padding-top: -20px;
  font-size: xx-large;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; }

div {
  text-align: center;
  padding: 0 10px; }
  div span {
    padding-right: 10px; }

section {
  padding: 50px 0;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    section {
      padding: 10px 0; } }
  section h3 {
    color: #cf4646;
    padding: 50px 0;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    display: inline-block;
    position: relative; }
    section h3:after {
      content: '';
      display: block;
      position: relative;
      top: 10px;
      margin: auto;
      height: 8px;
      width: 0px;
      background: rgba(255, 255, 255, 0.7) !important;
      width: 50% !important;
      transition: width .3s ease, background-color .3s ease; }

#sectionZero {
  padding-top: 100px;
  width: 60%; }
  #sectionZero h1, #sectionZero h2 {
    color: #1fa67a;
    font-weight: 700; }
  #sectionZero a {
    margin-top: 15px; }
  #sectionZero .logos {
    margin-left: -30px; }

.parallax-window {
  min-height: 400px;
  background: transparent; }
  @media screen and (max-width: 992px) {
    .parallax-window {
      display: none; } }

.parallax-mirror {
  left: 0 !important;
  right: 0;
  width: 100vw !important; }
  @media screen and (max-width: 992px) {
    .parallax-mirror {
      display: none; } }

.parallax-slider {
  width: 100vw !important;
  right: 0;
  left: 0 !important; }
  @media screen and (max-width: 992px) {
    .parallax-slider {
      display: none; } }

#sectionOne .img {
  background: #676F7C;
  height: 250px;
  margin-bottom: 25px;
  padding-top: 30px;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  #sectionOne .img img {
    height: 180px;
    width: 250px;
    object-fit: scale-down;
    text-align: center;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%); }
    @media screen and (max-width: 320px) {
      #sectionOne .img img {
        height: 150px;
        width: 200px; } }
#sectionOne .hover img {
  opacity: 1 !important; }

#sectionTwo .education {
  margin: 10px 0; }
  @media screen and (max-width: 992px) {
    #sectionTwo .education {
      background: rgba(255, 255, 255, 0.1); } }
  #sectionTwo .education i {
    color: #1b926c;
    margin: 20px 0; }

#sectionThree {
  overflow: hidden; }
  #sectionThree .portfolio .imgPortfolio {
    padding: 0;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 40px 50px -40px black; }
    #sectionThree .portfolio .imgPortfolio:first-of-type {
      margin-right: 10px; }
    #sectionThree .portfolio .imgPortfolio:last-of-type {
      margin-left: 10px; }
    #sectionThree .portfolio .imgPortfolio img {
      width: 100%;
      text-align: center;
      opacity: 0.7;
      transition: transform 0.4s ease; }
      #sectionThree .portfolio .imgPortfolio img:hover {
        opacity: 1;
        transform: scale(1.1); }

#sectionFour input, #sectionFour textarea {
  width: 100%;
  margin-bottom: 10px;
  background: #2C3A46;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 50px; }
  #sectionFour input:focus, #sectionFour textarea:focus {
    border: 2px solid #1b926c; }
#sectionFour input, #sectionFour button {
  height: 50px; }
#sectionFour button {
  border-color: #cf4646;
  background: #cf4646;
  width: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-size: x-large; }
#sectionFour input[type="text"] {
  background-image: url("../img/name.png");
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 10px center; }
#sectionFour input[type="email"] {
  background-image: url("../img/email.png");
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 10px center; }
#sectionFour textarea {
  background-image: url("../img/message.png");
  background-repeat: no-repeat;
  background-size: 30px auto;
  background-position: 10px 8px; }
@media screen and (max-width: 768px) {
  #sectionFour .info {
    padding-bottom: 50px; } }
#sectionFour .info p {
  color: #1fa67a;
  font-size: x-large;
  margin: 0 0 20px; }
  @media screen and (max-width: 768px) {
    #sectionFour .info p {
      font-size: large; } }
  #sectionFour .info p:nth-child(1) {
    margin-top: 50px; }

footer {
  line-height: 30px;
  text-align: center;
  background: #1C2027; }

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 99999;
  right: 20px;
  bottom: 30px;
  background: url("../img/back-to-top-button.png") no-repeat center 43%; }

a:focus {
  outline: none; }

/*# sourceMappingURL=style.css.map */
